<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="تصویر">
                {% else %}
                    <img src="/static/images/shop/product.jpg" alt="">
                {% endif %}
                <h2 style="color:#1c269b;" >{{ product.price }} تومان</h2>
                <p style="color:#2c89b6;">{{ product.title }}</p>
                <a style="color:#ffffff;" href="#" class="btn btn-default add-to-cart"><i
                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>{{ product.price }} تومان</h2>
                    <p>{{ product.title }}</p>
                    <a style="color:#3c48d1;" href="{% url 'cart' %}" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li>
                    <a  href="{{ product.get_absolute_url }}">
                        <i class="fa fa-plus-square"></i>
                        مشاهده جزییات
                    </a>
                </li>
{#                <li>#}
{#                    <form action="{% url 'favorite-list' %}" method="post"></form>#}
{#                        {% csrf_token %}#}
{#                        <button href=""><i class="fa fa-plus-square"></i>افزودن به علاقه مندی ها</button>#}
{#                        <input type="hidden" name="product_id" value="{{ product.id }}" >#}
{#                </li>#}
            </ul>
        </div>
    </div>
</div>