{% extends 'shared/_layout.html' %}

{% load static %}

{% block title %}
    درباره ما
{% endblock %}

{% block content %}

    	 <div id="contact-page" class="container">
    	 <div class="bg">
	    	    	
    		<div class="row"> 
				<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">لوگـو شرکت</h2>
						<img src="{% static 'images/home/About-Logo.jpg' %}" class="img-responsive" />
	    			</div>
    			</div>
	    		<div class="col-sm-8">
	    			<div class="about">
	    				<h2 class="title text-center">دربـاره ما</h2>
						<p class="about-desc">
                            شرکت برنامه نویسی که در حوزه وبسایت و اپلیکیشن های کراس پلدفرم و ماشین لرنینگ 
						</p>
						<p class="about-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, possimus, veritatis. Alias aliquid aperiam architecto autem consequuntur deleniti est iste maxime molestias nisi perferendis quod repellendus temporibus, velit veniam voluptatibus!
						</p>
	    			</div>
	    		</div>    			
	    	</div>  
			
			<div class="row">
				<div class="col-sm-12 about-address">
					<address>
                        <p>شرکت شامل:</p>
	    				<p>
                             1) مانی برنامه نویس بک اند و مدیریت بخش بک اند 2) امیر محمد برنامه نویس فرانت اند و مدیریت بخش فرانت اند 3) سید طراح و دیزاینر و همکاری در فرانت اند 4) پارسا برنامه نویس بک اند و دیتابیس
						</p>
	    			</address>
				</div>
			</div>
			
			<div class="row">
				<div class="container">
	    			<div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">    			   		<h2 class="title text-center">مـا اینجـا هستیـم ... </h2>    			    						<div id="gmap" class="contact-map">
							<img style="height: 500px" src="{% static 'images/mapp.png' %}" alt="Map"/>
						</div>
					</div>
				</div>
			</div>
			
    	</div>	
    </div>
    
{% endblock %}